<% if @token.errors.any? %>
  $("#error_explanation_<%= @rule.id %>_blacklist").html('<ul class="collection with-header"><li class="collection-header"><h4><%= j pluralize(@token.errors.count, "error") %> prohibited this token from being saved:</h4></li><% @token.errors.full_messages.each do |msg| %><li class="collection-item"><%= j msg %></li><% end %></ul>');
<% else %>
  $("#error_explanation_<%= @rule.id %>_blacklist").html('');
  $("#<%= @rule.id %>_blacklist").append("<%= escape_javascript(render 'tokens/token', rule: @rule, token: @token) %>");
  $("#<%= @rule.id %>_modals").append("<%= escape_javascript(render 'tokens/blacklist_modal', rule: @rule, token: @token) %>");
  $(".new_token").find(":input[type=text]").val("");
  Materialize.updateTextFields();
  $('.modal-trigger').leanModal();
  $("#modal_<%= @rule.id %>_add_blacklist").closeModal();
  $("#<%= @group.id %>_rule_<%= @rule.id %> .collapsible-header").html('<% if @rule.tokens.select {|a| a.type == "source"}.empty? %>Empty Rule<% else %><%= @rule.tokens.select {|a| a.type == "source"}[0].token %><p style="display: inline;color: grey;"><% if not @rule.tokens.select {|a| a.type == "whitelist"}.empty? %> → <%= @rule.tokens.select {|a| a.type == "whitelist"}[0].token %><% end %><% if not @rule.tokens.select {|a| a.type == "blacklist"}.empty? %> ↛ <%= @rule.tokens.select {|a| a.type == "blacklist"}[0].token %><% end %></p><% end %>');
<% end %>
