<% if @token.errors.any? %>
  $("#error_explanation_<%= @rule.id %>_<%= @token.id %>").html('<ul class="collection with-header"><li class="collection-header"><h4><%= j pluralize(@token.errors.count, "error") %> prohibited this token from being saved:</h4></li><% @token.errors.full_messages.each do |msg| %><li class="collection-item"><%= j msg %></li><% end %></ul>');
<% else %>
  $("#error_explanation_<%= @rule.id %>_<%= @token.id %>").html('');
  $("#link_<%= @rule.id %>_<%= @token.id %>").text("<% if @token.token == "" %>Empty Rule<% else %><%= @token.token %><% end %>");
  $("#modal_<%= @rule.id %>_<%= @token.id %>").closeModal();
<% end %>
