<% @title="Name Draw" %>

<% if @notfound %>
  <div class="card" style="color: red;">
    <div class="card-content">
      Group not found
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-content">
    <%= form_tag search_path, class: "col s12" do %>
      <span class="card-title">Open Group</span>
      <div class="input-field">
        <%= label_tag :code %>
        <%= text_field_tag :code %>
      </div>
      <%= submit_tag "Open Group", class: "btn-flat waves-effect waves-light" %>
    <% end %>
  </div>
</div>

<% if logged_in? %>
  <%= render 'welcome/form' %>
<% end %>
