<% @title=@group.name %>

<div class="card">
  <div class="card-content">
    <span class="card-title">Instructions</span><br>
    <p style="white-space: pre-wrap;"><%= @group.instructions %></p>
  </div>
</div>

<div id="error_explanation" class="card" style="color: red;">
</div>

<%= render 'people/form' %>

<% if @group.public? %>
  <ul id="people" class="collapsible" data-collapsible="accordion">
    <li class="collapsible-title"><div class="collapsible-header"><span>Participants</span></div></li>
    <%= render @group.people %>
  </ul>
<% else %>
  <ul id="people" class="collection with-header">
    <li class="collection-header">Participants</li>
    <%= render @group.people %>
  </ul>
<% end %>

<% if not @auth %>
  <div id="error_explanation" class="card" style="color: red;">
    <ul class="collection with-header">
      <li class="collection-item"><h4>Incorrect Password</h4></li>
     </ul>
  </div>
<% end %>

<div class="card">
  <div class="card-content">
    <%= form_tag(controller: "group", action: "admin") do %>
      <div class="input-field">
        <%= label_tag :password, "Admin Password" %>
        <%= password_field_tag :password %>
      </div>
      <%= submit_tag "login", class: "btn-flat waves-effect waves-light" %>
    <% end %>
  </div>
</div>
