<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="head">
      <nav class="cyan darken-2">
        <div class="nav-wrapper">
          <a href="<%= root_path %>" class="brand-logo">Name Draw</a>
          <ul id="nav-mobile" class="right">
            <% if logged_in? %>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Log Out", logout_path, method: :delete, remote: true %></li>
            <% else %>
              <li><%= link_to "Sign Up", signup_path %></li>
              <li><%= link_to "Log In", login_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
      <h1 class="page-title white-text">
        <%= @icon %>
        <%= @title %>
      </h1>
  	</div>

    <% flash.each do |message_type, message| %>
      <script type="text/javascript">
        Materialize.toast('<%= message %>', 4000, '<% if message_type == "success" %>green<% elsif message_type == "notice" %>blue<% else %>red<% end %>');
      </script>
    <% end %>


    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">
    $(document).ready(function(){
      $('.collapsible').collapsible();
      $('.modal-trigger').leanModal();
      Materialize.updateTextFields();
    });
    </script>
  </body>

</html>
